body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 50px;
}

.Title h1 {
    margin: 0;
    text-align: center;
}

.sidebox {
    width: 150px;
    height: 150px;
    padding: 40px;
    margin: 20px;
    margin-top: 125px;
    background-color: #f0f0f0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebox label,
.sidebox button {
    margin-bottom: 10px;
}

.sidebox input {
    margin-bottom: 5px;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    gap: 1px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid black;
}

.grid-square {
    box-sizing: border-box;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0px;
    padding: 0px;
}

.grid-square:hover {
    background-color: var(--selected-color);
    transition: background-color 0.3s ease;
    
}

.footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: auto;
}

