body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 50px;
}

.Title h1 {
    margin: 0;
    text-align: center;
}

.sidebox {
    width: 150px;
    height: 200px;
    padding: 40px;
    margin: 20px;
    margin-top: 125px;
    background-color: #f0f0f0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.sidebox h2 {
    margin-top: 10px;
}

.sidebox label[for="colorPicker"] {
    margin: 5px;
}

.sidebox button {
    border-radius: 10px;
    margin: 10px;
}

.sidebox label[for="slider"] {
    margin: 10px;
}

.sidebox input[type="color"] {
    margin: 10px;
    padding: 5px;
}

.sidebox input {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.slidebox .slide-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    gap: 1px;
    border: 1px solid black;
}

.grid-square {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-square:hover {
    background-color: var(--selected-color);
    transition: background-color 0.3s ease;
    
}

.footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: auto;
}
